@import "../../styles/index.scss";

.invoice {
  background: url("/assets/logo/invoice-logo.png") no-repeat center 70%;
  background-size: 80% 30%;
  padding: 40px;
  padding-top: 15px;
  font-family: $secondary-font;
  // font-size: 14px;
  img {
    width: 100%;
  }
  .heading {
    border: 1px solid $secondary-color;
    font-size: 13px;
  }
  .top-header {
    font-weight: 600;
    color: #000;
  }
  .notes {
    p {
      margin-bottom: 7px;
      font-size: 13px;
      font-family: $secondary-font;
    }
  }
  .invoice-header {
    padding: 10px 0;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .customer-details {
      display: inline-block;
      padding: 10px 15px;
      color: $primary-color;
      background: $white-color;
      transform: translateY(-50%);
    }
    .details {
      display: flex;
      justify-content: space-between;
      margin-top: -50px;

      .left {
        background: $decenary-color;
        width: 65%;
        padding: 10px 15px;
        padding-top: 25px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .right {
        background: $decenary-color;
        width: 35%;
        padding: 10px 15px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .heading {
        border: 1px solid $secondary-color;
      }

      p {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .invoice-body {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }

  .invoice-table {
    width: 100%;
    margin-top: 20px;
    .variant {
      margin-right: 5px;
    }
    .first-row {
      .heading {
        background: $decenary-color;
        text-align: center;
        border-bottom: 0;
      }
    }

    .col-md-8 {
      flex-basis: 65.32%;
    }

    /* .heading {
      border: 1px solid $decenary-color;
    } */
  }
  .col-md-4 {
    padding: 0;
  }
  .summery {
    margin-right: 8px;
    margin-top: 30px;
    .item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    p {
      width: 49.55%;
      font-size: 14px;
    }
    .sort-summery {
      padding: 5px;
      font-weight: 600;
      box-sizing: border-box;
    }
  }
}

p + p {
  margin-top: 0 !important;
}
