@import "../../styles/index.scss";

.invoice {
  background: url("/assets/logo/invoice-logo.png") no-repeat center 70%;
  background-size: 80% 30%;
  padding: 40px;
  padding-top: 15px;
  font-family: $secondary-font;
  // font-size: 14px;
  img {
    width: 100%;
  }
  .invoice-title {
    font-weight: bold;
  }
  .heading {
    border: 1px solid $secondary-color;
    font-size: 13px;
  }
  .top-header {
    font-weight: 600;
    color: #000;
  }
  .notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h3 {
      font-size: 16px;
    }
    p {
      margin-bottom: 7px;
      font-size: 11px;
      font-family: $secondary-font;
    }
  }
  .invoice-header {
    padding: 10px 0;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .customer-details {
      display: inline-block;
      padding: 10px 15px;
      color: $primary-color;
      background: $white-color;
      transform: translateY(-50%);
      font-size: 16px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      margin-top: -50px;

      .left {
        background: $decenary-color;
        width: 63%;
        padding: 10px 15px;
        padding-top: 25px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .right {
        background: $decenary-color;
        width: 37%;
        padding: 10px 15px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .heading {
        border: 1px solid $secondary-color;
      }

      p {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  .invoice-details-table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    th,
    td {
      border: 1px solid $secondary-color;
      text-align: center;
      padding: 4px;
    }
    .table-heading {
      background: $decenary-color;
    }
    .span-item {
      border: 0;
    }
    .heading-title {
    font-weight: 500;
    }
    .order-item {
      td {
        height: 30px;
      }
    }
    .payment-status{
      position: absolute;
      bottom: .5rem;
      left: 2rem;
      .img-sec{
        img{
          width: 120px;
          height: 120px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .invoice-body {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }

  .invoice-table {
    width: 100%;
    margin-top: 20px;
    .variant {
      margin-right: 5px;
    }
    .orders {
      text-align: center;
    }
    .first-row {
      .column {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .heading {
        background: $decenary-color;
        border-bottom: 0;
        text-align: center;
      }
    }
    .description {
      padding: 10px;
    }
    .col-md-8 {
      flex-basis: 65.32%;
    }

    /* .heading {
      border: 1px solid $decenary-color;
    } */
  }
  .col-md-4 {
    padding: 0;
  }
  .summery {
    margin-right: 26px;
    transform: scale(1.038);
    margin-top: 2px;

    @media (min-width: 1600px) {
      margin-right: 33.5px;
      transform: scale(1.038);
      margin-top: 3px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    p {
      width: 49.55%;
      font-size: 13px;
      color: #000;
    }
    .sort-summery {
      padding: 5px;
      font-weight: 600;
      box-sizing: border-box;
      text-align: center;

      .amount {
        font-weight: 400;
      }
    }
  }
}

p + p {
  margin-top: 0 !important;
}

@media print {
  .invoice {
    .summery {
      margin-right: 16px;
    }
  }
  html, body {
  position: relative;
}

.invoice-body{
  min-height: 78vh;
  height: 100%;
}

// .invoice{
//   .invoice-footer{
//     position: absolute;
//     bottom: 0;
//   }
// }
}
