@import "../../styles/_colors.scss";
body {
  padding-top: 60px; /* Adjust according to the height of the header */
}

.header {
  position: fixed; /* Makes the header fixed */
  top: 0; /* Positions it at the top of the viewport */
  left: 0;
  padding: 10px 20px; /* Adds some padding */
  width: 98%; /* Makes the header span the full width */
  z-index: 999; /* Ensures the header stays above other elements *//* Optional: Ensure the background is visible */
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-main {
    display: flex;
    justify-content: end;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 576px) {
  .header {
    width: 95%; 
    padding: 5px 10px; 
  }
  
}
