.main-area {
  padding: 24px;
}
.des-none {
  height: 0;
  opacity: 0;

  .textarea {
    height: 1px;
    margin-bottom: 0;
    padding: 0;
    label {
      display: none;
    }
    #textarea {
      height: 1px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 700;
}

.validation__error {
  color: rgb(222, 86, 86);
}
.label {
  display: block;
  color: #9a9a9a;
  margin-bottom: 5px;
}

@media (max-width: 769px) {
  .main-area {
    padding: 5px;
  }
}