.csv-icon {
  padding: 5px;
  width: 20px;
  margin-left: auto;
  cursor: pointer;
}
.date-area {
  width: 55%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;

  .text {
    width: 49%;
  }
}
.pointer{
  :hover{
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .date-area {
    width: 100%;
    display: block;
    .text {
      width: 100%;
    }
  }
  
}